html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.conteudo{
    width: 100%;
    height: 100%;
    margin: 20px;
}
#logo{  
    
    margin: 20px;
    position: absolute;
    left: 0px;}

header{
margin: 0px ;
width: 100%;
height: 10%;
}

#login{
    margin: 20px;
    position: absolute;
    right: 100px;
}

#cadastro{
    margin: 20px;
    position: absolute;
    right: 25px;
}